.navbar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  min-height: 100px;
  //background: url(../../../assets/images/huella.jpg);
  margin-left: auto;
  margin-right: auto;
  background-size: 10%;//
}
.navbar-brand{
  color: gray;
  font-family:'Pacifico', cursive;
  font-size: large;
}
.nav-link{
  color: gray;
  font-family: 'Lobster', cursive;
  font-size: 23px;
}